
/* Table of Content
==================================================



/* Header Styles
================================================== */
header{
  .search{
    text-align: right;
    padding-top: 20px;
    @include breakpoint(portrait){
      padding-top: 10px;
      margin-bottom: 20px;
    }
    @include breakpoint(tablet){
      margin-bottom: 10px;
    }
  }
  .logo{
    text-align: center;
    padding-bottom: 25px;
    img:hover{
      @include opacity(1);
    }
  }

  .main-navigation{
    text-align: center;
    border-bottom: 2px solid $black;
    margin-bottom: 15px;

    ul{
      margin-bottom: 20px;
      margin-left: 0px;
      li{
        display: inline;
        list-style-type: none;
        text-transform: uppercase;
        margin: 0 30px 0 30px;
 
 
        @include breakpoint(tablet){
          margin: 0 5px 0 5px;
        }
        @include breakpoint(portrait){
           display: block;
           margin: 7px 0px 7px 0px;
        }


        a{             
          text-align: center;
          padding: 5px 10px 5px 10px;
          text-decoration: none;
          &:hover{
            background-color: $black;
            text-decoration: none;
            color: $white;
            @include opacity(1);
          }

        }

        &.current-menu-item a{
          background-color: $black;
          text-decoration: none;
          color: $white;
          @include opacity(1);
        }
      }
    }
  }
 
	
}

 
/* SEARCH Styles
================================================== */

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;

}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
  z-index: 9999;
}

#search .search-title{
  position: absolute;
  top: 25%;
  width: 100%;
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border: none;;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 15%;
  padding-right: 15%;
  outline: none;

}

#search input[type="search"] {
  position: absolute;
  font-family:"Apercu Regular";
  letter-spacing: 0.06em;
  top: 30%;
  width: 100%;
  color: $black;
  background: rgba(0, 0, 0, 0);
  font-size: 100px;
  font-weight: bold;
  text-align: left;
  border: none;;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 15%;
  padding-right: 15%;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 30px;
  right: 30px;
  color: $black;
  opacity: 1;
  padding: 10px 17px;
  font-size: 35px; font-weight:bold;
} 


/* Homepage Styles
================================================== */

.bg-container{ 
  width: 100%;
  height: 100%;
  background:no-repeat center center fixed;   
  @include background-size(cover);
  position:fixed; top:0px; left:0px;  overflow-y:hidden; overflow-x:hidden; margin:auto;
  text-align: center;
} 
 
.bg-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 350px;

  &.white{
   h1{color: $white;}
  }

  h1{
    transition: all  0.9s ease;
    -webkit-transition: all  0.9s ease;
    -moz-transition: all  0.9s ease;
    -o-transition: all  0.9s ease;
    &:hover{
      cursor: pointer;
    }
  }

}

/* Home Navigation Styles
================================================== */
.centered ul#menu-main-navigation {
	padding-top: 0px;
  @include opacity(0);
   visibility: hidden;
   height: 0;
	list-style-type: none;
	width: 350px;
	text-transform: uppercase;
	margin: 0;
  transition: all  0.9s ease;
  -webkit-transition: all  0.9s ease;
  -moz-transition: all  0.9s ease;
  -o-transition: all  0.9s ease;
 
	li{
		position: relative;
		padding: 0;
		margin: 5px 0 2px 0;
    font-size: 18px; 
    line-height:28px;
    text-align:center;
 

    span.hover-left{
      display: inline; float: left;
       
    }
		a{
			display: block;
			overflow: auto; 
			text-decoration: none;
      width:100%;
			padding: 0 0px 0 0px;
			font-weight: bold;
      text-align: center;
      transition: all  0.2s ease;
      -webkit-transition: all  0.2s ease;
      -moz-transition: all  0.2s ease;
      -o-transition: all  0.2s ease;

			&:hover{
        background: url('assets/img/home-menu-bg-1.png') no-repeat 0 13px ;
        @include opacity(1);
			}
		}
 
	}
 
}

.centered ul#menu-main-navigation.show{
  visibility: visible;
  @include opacity(1);
  height: 200px;
  transition: all  0.9s ease;
  -webkit-transition: all  0.9s ease;
  -moz-transition: all  0.9s ease;
  -o-transition: all  0.9s ease;
}


.centered.white ul#menu-main-navigation li a{
  color: $white;
}



.centered ul#menu-main-navigation li:nth-child(1) a:hover{
  background: url('assets/img/home-menu-bg-1.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(1) a:hover{
  background: url('assets/img/home-menu-bg-1-white.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered ul#menu-main-navigation li:nth-child(2) a:hover{
  background: url('assets/img/home-menu-bg-2.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(2) a:hover{
  background: url('assets/img/home-menu-bg-2-white.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered ul#menu-main-navigation li:nth-child(3) a:hover{
  background: url('assets/img/home-menu-bg-1.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(3) a:hover{
  background: url('assets/img/home-menu-bg-1-white.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered ul#menu-main-navigation li:nth-child(4) a:hover{
  background: url('assets/img/home-menu-bg-4.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(4) a:hover{
  background: url('assets/img/home-menu-bg-4-white.png') no-repeat 0 13px ;
  @include opacity(1);
}



 
 





/* Archive Filter Page Styles
================================================== */

 
#filters {
  list-style-type: none;
  text-align: left;
  margin: 10px 0 10px 0;
}

#filters:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#filters li {
  font-size: 12px;
  float: left;
  padding: 0px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 20px 0 0;
  a{
    text-decoration: none;
  }
}

#filters li:hover {
  @include opacity(0.6);
}

#filters li.active {
  @include opacity(0.6);
}
 
/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #000;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  -webkit-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
     -moz-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
          box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.1s ease-out;
     -moz-transition: width 0.1s ease-out;
       -o-transition: width 0.1s ease-out;
          transition: width 0.1s ease-out;
}

 

/**
 * Grid container
 */
.tiles-wrap {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 10px 50px 40px 50px;
  padding: 0;
  list-style-type: none;
  display: none;
}


/**
 * Grid items
 */
.tiles-wrap li {
  display: block;
  opacity: 1;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
  cursor: pointer;
  width: 310px;
 
 
}
.tiles-wrap.animated li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.tiles-wrap li.wookmark-inactive {
  visibility: hidden;
  opacity: 0;
}

.tiles-wrap li span.project-title{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 50%;
  margin: -7% 0 0 -25%;
  display: none;
} 

.tiles-wrap li:hover {
  img{
    @include opacity(0.3);
  }

   span.project-title{
    display: block;
   }

}

.tiles-wrap img {
  display: block;
  margin: 0; vertical-align:middle
}

.tiles-wrap li a{
  text-decoration: none;
  &:hover{@include opacity(1);}
}



.tile-loading:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  content: "Loading\2026";
  padding-top: 20px;
  color: #999;
}

a#load-more-photos, a#load-more-videos{
  display: block;
  position: relative; 
  margin: 0 auto; 
  padding: 20px 0 100px 0;
  width: 300px;
  z-index: 99;

  &:hover{ cursor: pointer}
}







 
/* PAGE Slider
================================================== */

.slides{
  width: 100%;
  overflow-x: hidden;
 
  .slides-wrap{
    padding-bottom:0px !important;
    margin-bottom: 0px !important;
    overflow: visible;
  }

  .image-content img{
    margin-right: 6px;
    max-width: 100%;
    @include breakpoint(smallscreen){
       max-width: 676px;
    }
    @include breakpoint(tablet){
       max-width: 420px;
    }
    @include breakpoint(portrait){
       max-width: 300px;
    }

  }

  div.button{
    top: -350px;
    position: relative;
    background: transparent;
    color: white;
    font-size: 30px;
    display: inline-block;

    &.slick-next{
      float:right;
      right: 10px;
      top: -380px;
      @include breakpoint(portrait){
         right:-10000px;
      }

     }
     &.slick-prev{
      left: 10px;
      @include breakpoint(portrait){
        left:-10000px;
      }
    }
    &:hover{
      cursor: pointer;
      @include opacity(0.7);
    }
  }

} 

.single-title, .single-info{
  position: relative;
  top: -30px;
  text-transform: uppercase;
  @include breakpoint(portrait){
     top: -250px;
  }
}

.single-info, .single-video-info{
  text-align: right;
  @include breakpoint(tablet){
    text-align: left; 
  }
  @include breakpoint(portrait){
     text-align: left;    
  }
}

.single-video-title, .single-video-info{
  position: relative;
  margin-top: 20px;
  text-transform: uppercase;
}

iframe{
  max-width: 100%;

  @include breakpoint(smallscreen){
      height: 380px;    
  }
  @include breakpoint(tablet){
      height: 236px;    
  }
 
  @include breakpoint(portrait){
      height: 168px;    
  }

}
 


/* PAGE Styles
================================================== */
.page-bg-container{  
  width: 100%;
  height: 100%;
  background:no-repeat center center fixed;   
  @include background-size(cover);
  position:fixed; top:0px; left:0px;  overflow-y:hidden; overflow-x:hidden; margin:auto;
  z-index:-1;
  @include opacity(0.6);
}
 
.page-content{
  background-color: $white;
  padding: 20px 30px 20px 30px;
  border: 5px solid $black;
  margin-bottom: 40px;

  h1{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    padding-bottom:19px;
    margin-left: -11px;
  }
}




/* FOOTER Styles
================================================== */

 
 


 


 
