
/* Table of Content
==================================================



/* Header Styles
================================================== */
header{
  .search{
    text-align: right;
    padding-top: 20px;
    @include breakpoint(portrait){
      padding-top: 10px;
      margin-bottom: 20px;
    }
    @include breakpoint(tablet){
      margin-bottom: 10px;
    }
  }
  .logo{
    text-align: center;
    padding-bottom: 22px;
 
    a{text-decoration:none;}
    h1{
      @include breakpoint(portrait){
         font-size: 32px;
      }
    }
  }

  .main-navigation{
    text-align: center;
    border-bottom: 2px solid $black;
    margin-bottom: 15px;

    ul{
      margin-bottom: 20px;
      margin-left: 0px;

      li{
        display: inline;
        list-style-type: none;
        text-transform: uppercase;
        margin: 0 10px 0 10px;
      
 
 
        @include breakpoint(tablet){
          margin: 0 5px 0 5px;
        }
        @include breakpoint(portrait){
           display: block;
           margin: 7px 0px 7px 0px;
        }

        &:hover a{
            background-color: $black;
            text-decoration: none;
            color: $white;
            @include opacity(1);
          }

         &:hover ul.sub-menu li a{
            text-decoration: none;
            background-color: $white;
            color: $black;
            @include opacity(1);
          } 


        a{             
          text-align: center;
          font-size: 18px;
          padding: 4px 16px 4px 16px;

          @include breakpoint(tablet){
             padding:  2px 10px 2px 10px;
             font-size: 14px;
          }


          text-decoration: none;
          &:hover{
            background-color: $black;
            text-decoration: none;
            color: $white;
            @include opacity(1);
          }

        }

        &.current-menu-item a, &.current-menu-parent a{
          background-color: $black;
          text-decoration: none;
          color: $white;
          @include opacity(1);
        }

        &.current-menu-item ul li a, &.current-menu-parent ul li a{
          background-color: transparent;
          text-decoration: none;
          color: $black;
          @include opacity(1);
        }

       


        ul.sub-menu{
 
            position: absolute;
            width: 157px;
            top: 132px;
            left: 328px;
            background-color: $white;
            padding: 10px 5px 10px 5px;
            z-index: 99;
            display: none; 
            opacity: 0;
            visibility: hidden;

            @include breakpoint(smallscreen){
              top: 171px;
              left: 196px;
            }
            @include breakpoint(tablet){
              top: 138px;
              left: 98px;
              width: 117px;

            }
            @include breakpoint(portrait){
               position: relative;
               top: 0px;
               left: 86px;
               padding-top: 0px;
            }

          li{
            display: block;
            padding-top: 7px;
            margin: 0;
            a{
             
              &:hover{
                background-color:transparent;
                text-decoration: none;
                color: $black;
                @include opacity(0.7);
              }
            }

          }

        }

         &:hover ul.sub-menu {
          display: block;
          opacity: 1;
          visibility: visible;
        }
 
      }
    }
  }
 
	
}

 
/* SEARCH Styles
================================================== */

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;

}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
  z-index: 9999;
}

#search .search-title{
  position: absolute;
  top: 25%;
  width: 100%;
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border: none;;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 15%;
  padding-right: 15%;
  outline: none;

}

#search input[type="search"] {
  position: absolute;
  font-family:"Apercu Regular";
  letter-spacing: 0.06em;
  top: 30%;
  width: 100%;
  color: $black;
  background: rgba(0, 0, 0, 0);
  font-size: 100px;
  font-weight: bold;
  text-align: left;
  border: none;;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 15%;
  padding-right: 15%;
  outline: none;
  @include breakpoint(smallscreen){
       font-size: 70px;
    }
  @include breakpoint(tablet){
       font-size: 50px;
    }
   @include breakpoint(portrait){
       font-size: 40px;
    }
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 30px;
  right: 30px;
  color: $black;
  opacity: 1;
  padding: 10px 17px;
  font-size: 35px; font-weight:bold;
} 

h2.no-results{
  margin-top: 30px;
  margin-bottom: 200px;
  font-size: 24px;
}

/* Homepage Styles
================================================== */

.bg-container{ 
  width: 100%;
  height: 100%;
  background:no-repeat center center fixed;   
  @include background-size(cover);
  position:fixed; top:0px; left:0px;  overflow-y:hidden; overflow-x:hidden; margin:auto;
  text-align: center;
} 
 
.bg-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 350px;

  &.white{
   h1{color: $white;}
  }

  h1{
    transition: all  0.9s ease;
    -webkit-transition: all  0.9s ease;
    -moz-transition: all  0.9s ease;
    -o-transition: all  0.9s ease;
    &:hover{
      cursor: pointer;
    }
  }

}

/* Home Navigation Styles
================================================== */
.centered ul#menu-main-navigation {
	padding-top: 0px;
  @include opacity(0);
   visibility: hidden;
   height: 0;
	list-style-type: none;
	width: 350px;
	text-transform: uppercase;
	margin: 0;
  transition: all  0.9s ease;
  -webkit-transition: all  0.9s ease;
  -moz-transition: all  0.9s ease;
  -o-transition: all  0.9s ease;
 
	li{
		position: relative;
		padding: 0;
		margin: 5px 0 2px 0;
    font-size: 18px; 
    line-height:28px;
    text-align:center;
 

    span.hover-left{
      display: inline; float: left;
       
    }
		a{
			display: block;
			overflow: auto; 
			text-decoration: none;
      width:100%;
			padding: 0 0px 0 0px;
			font-weight: bold;
      text-align: center;
 

			&:hover{
        background: url('assets/img/home-menu-bg-1.png') no-repeat 0 13px ;
        @include opacity(1);
			}
		}
 
	}
 
}

.centered ul#menu-main-navigation.show{
  visibility: visible;
  @include opacity(1);
  height: 200px;
  transition: all  0.9s ease;
  -webkit-transition: all  0.9s ease;
  -moz-transition: all  0.9s ease;
  -o-transition: all  0.9s ease;
}


.centered.white ul#menu-main-navigation li a{
  color: $white;
}



.centered ul#menu-main-navigation li:nth-child(1) a:hover{
  background: url('assets/img/home-menu-bg-1.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(1) a:hover{
  background: url('assets/img/home-menu-bg-1-white.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered ul#menu-main-navigation li:nth-child(2) a:hover{
  background: url('assets/img/home-menu-bg-2.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(2) a:hover{
  background: url('assets/img/home-menu-bg-2-white.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered ul#menu-main-navigation li:nth-child(3) a:hover{
  background: url('assets/img/home-menu-bg-1.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(3) a:hover{
  background: url('assets/img/home-menu-bg-1-white.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered ul#menu-main-navigation li:nth-child(4) a:hover{
  background: url('assets/img/home-menu-bg-4.png') no-repeat 0 13px ;
  @include opacity(1);
}

.centered.white ul#menu-main-navigation li:nth-child(4) a:hover{
  background: url('assets/img/home-menu-bg-4-white.png') no-repeat 0 13px ;
  @include opacity(1);
}



 
 





/* Archive Filter Page Styles
================================================== */

 
#filters {
  list-style-type: none;
  text-align: left;
  margin: 10px 0 10px 0;
}

#filters:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#filters li {
  font-size: 12px;
  float: left;
  padding: 0px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 20px 0 0;
  a{
    text-decoration: none;
  }
}

#filters li:hover {
  @include opacity(0.6);
}

#filters li.active {
  @include opacity(0.6);
  text-decoration: underline;

}
 
/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #000;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  -webkit-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
     -moz-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
          box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.1s ease-out;
     -moz-transition: width 0.1s ease-out;
       -o-transition: width 0.1s ease-out;
          transition: width 0.1s ease-out;
}

 

/**
 * Grid container
 */
.tiles-wrap {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 10px 50px 40px 50px;
  padding: 0;
  list-style-type: none;
  display: none;
}


/**
 * Grid items
 */
.tiles-wrap li {
  display: block;
  opacity: 1;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
  cursor: pointer;
  width: 310px;
 
 
}
.tiles-wrap.animated li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.tiles-wrap li.wookmark-inactive {
  visibility: hidden;
  opacity: 0;
}

.tiles-wrap li span.project-title{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 50%;
  margin: -7% 0 0 -25%;
  display: none;
} 

.tiles-wrap li:hover {
  img{
    @include opacity(0.3);
  }

   span.project-title{
    display: block;
   }

}

.tiles-wrap img {
  display: block;
  margin: 0; vertical-align:middle
}

.tiles-wrap li a{
  text-decoration: none;
  &:hover{@include opacity(1);}
}



.tile-loading:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  content: "Loading\2026";
  padding-top: 20px;
  color: #999;
}

a#load-more-photos, a#load-more-videos, span#loader{
  display: block;
  position: relative; 
  margin: 0 auto; 
  padding: 20px 0 100px 0;
  width: 300px;
  z-index: 99;
  text-align: center;

  &:hover{ cursor: pointer}
}







 
/* SINGLE PROJECT PAGE
================================================== */

.project-nav{
  padding-bottom:10px;

  a{
    color: $gray;
    text-transform: uppercase;
    text-decoration: none;
  }
}

#single-img{
  width:940px; margin:0px auto; height: auto;
  @include breakpoint(smallscreen){
    width: 670px;
  }
  @include breakpoint(tablet){
    width: 420px;
  }
  @include breakpoint(portrait){
    width: 300px;
  }

  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  
 
  }
  ul li {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
 
  }
  img{
    width: 100%;

  }
 
  .scrollbar{
    display: none;
  }
  .frame{
     height: auto;
  }
}


.wrap{
  position: relative;
}
.frame{
   height: 600px; 
   line-height:600px;
   padding: 0; 
   overflow: hidden;

   @include breakpoint(portrait){
      width: 300px;
      margin: 0 auto; 
      height: auto;
    }
    

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    @include breakpoint(portrait){
      height: auto;
    }
  }

  ul li {
    float: left;
    height: 100%;
    margin: 0 5px 0 0;
    padding: 0;

    @include breakpoint(portrait){
      display: block;
      float: left;
      height: auto;
      margin: 0 5px 0 0;
      padding: 0;
        
    }
 
  }
  img{
    width: 100%;
    @include breakpoint(tablet){
       //max-width: 420px;
    }
    @include breakpoint(portrait){
       max-width: 300px;
       height: auto;

    }
  }
} 

.scrollbar {    
  height: 10px; 
  width:940px; 
  margin:10px auto;  
  background: #f5f5f5;  
  line-height: 0;  
  @include border-radius(5px);
  &.single-img{
    visibility: hidden;
    width: 0;
  }
  @include breakpoint(tablet){
      visibility: hidden;
      width: 0;
    }
    @include breakpoint(portrait){
      visibility: hidden;
      width: 0;
    }

}
.scrollbar .handle {
  width: 100px ;
  height: 100%;
  background: #b9b9b9;
  cursor: pointer;
  @include border-radius(5px);
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
  
}



.single-title, .single-info{
  position: relative;
  top:  0px;
  text-transform: uppercase;
  @include breakpoint(portrait){
     top: 0px;
  }
  padding-bottom:30px;
}

.single-info, .single-video-info{
  text-align: right;
  @include breakpoint(tablet){
    text-align: left; 
  }
  @include breakpoint(portrait){
     text-align: left;    
  }
  padding-bottom:30px;
}

.single-video-title, .single-video-info{
  position: relative;
  margin-top: 20px;
  text-transform: uppercase;

}

iframe{
  max-width: 100%;

  @include breakpoint(smallscreen){
      height: 380px;    
  }
  @include breakpoint(tablet){
      height: 236px;    
  }
 
  @include breakpoint(portrait){
      height: 168px;    
  }

}
 


/* PAGE Styles
================================================== */
.page-bg-container{  
  width: 100%;
  height: 100%;
  background:no-repeat center center fixed;   
  @include background-size(cover);
  position:fixed; top:0px; left:0px;  overflow-y:hidden; overflow-x:hidden; margin:auto;
  z-index:-1;
  @include opacity(0.6);
}
 
.page-content{
  background-color: $white;
  padding: 20px 30px 20px 30px;
  border: 2px solid $black;
  margin-bottom: 40px;
   word-wrap: break-word;

  h1{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    padding-bottom:19px;
    margin-left: -11px;
  }
  h3{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #989898;
  }
}

/* PHOTO LANDING PAGE
================================================== */
.fluid-container{
  width: 84%;
  padding: 0 8% 0 8%;
  margin: 0;
   position: relative; 
   @include breakpoint(portrait){
     width: 300px; 
     margin: 0 auto; padding: 0;
  }
}

.photo-landing{
  padding-top: 30px;
}

.one-third{
  width: 32%;
  padding-right: 2%;
  float: left;
  text-align: center;

  @include breakpoint(portrait){
     width: 300px; 
  }

  &.last{
    padding-right: 0%;
  }
  img{
    width: 100%;
    height: auto;
  }
  a{
    text-decoration: none;
    &:hover{@include opacity(0.5);}
    &:hover h2{@include opacity(0.5);}
  }

  h2.photo-subtitle{
    font-size: 18px;
    padding: 10px 0 40px 0;

    @include breakpoint(tablet){
        font-size: 18px; 
    }
   
    

  }
}

/* CATEGORY PHOTO PAGE
================================================== */
.category-title {
  h1{
    font-size: 14px;
  }
  padding-bottom: 10px;

}
.fluid-category{
  width: 88%;
  padding: 0 6% 0 6%;
  margin: 0;
   position: relative; 
   @include breakpoint(portrait){
     width: 300px; 
     margin: 0 auto; padding: 0;
  }
}

.one-half{
  width: 47%;
  padding-right: 6%;
  float: left;
  text-align: left;

  &.last{
    padding-right: 0%;
  }

  @include breakpoint(portrait){
     width: 300px; 
  }

  img{
    width: 100%;
    height: auto;
  }
  a{
    text-decoration: none;
    margin-bottom: 60px;
    display: block;
    &:hover{@include opacity(0.5);}
    &:hover h2{@include opacity(0.5);}

  }

  h2.project-title{
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 3px 0;

    @include breakpoint(tablet){
        font-size: 18px; 
    }
  }
  span.project-desc{
    color: $gray;
    font-size: 14px;
    text-transform: uppercase;
  }
}
 




/* FOOTER Styles
================================================== */

 .mesh{
  font-size: 12px;
  text-align: right;
  padding-bottom: 10px;
 }

.one_half {
  width: 47% !important; padding-right: 3%
}

.one_half.last_column {
  width: 45% !important; padding-left: 5%; padding-right: 0%
}

 


 


 
